[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = git@github.com:gabime/spdlog.git
